<form 
    method="post" 
    hx-post="{% url 'users:update_account_details' %}" 
    hx-target="#account-details" 
    hx-swap="innerHTML"
    class="space-y-4">
    {% csrf_token %}
    {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <p class="text-red-400 text-sm mt-1">{{ field.errors.0 }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <div class="flex space-x-4">
        <button type="submit" class="btn-animate bg-emerald-600 hover:bg-emerald-700 py-2 px-4 rounded-lg font-medium text-white">
            Сохранить
        </button>
        <button 
            hx-get="{% url 'users:account_details' %}" 
            hx-target="#account-details" 
            hx-swap="innerHTML"
            class="btn-animate bg-gray-600 hover:bg-gray-700 py-2 px-4 rounded-lg font-medium text-white">
            Отмена
        </button>
    </div>
</form>